<ion-view view-title="New Notification">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content>


      <div class="photo-container">
          <div class="circle-border photo-woman"></div>
          <div class="name-container">Scarlet Johansen</div>
          <div class="message-container">Please call me Toby!!</div>
      </div>

   </ion-content>
    <div class="bar bar-footer bar-balanced">
        <!--<i class="icon ion-android-call call-button"></i>-->
        <a href="tel:1234"><i class="icon ion-android-call call-button-icon"></i></a>
    </div>
</ion-view>
