<ion-view view-title="New Notification">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content>


      <div class="photo-container">
          <div class="circle-border photo-vashib"></div>
          <div class="name-container">Bushra Vashida</div>
          <div class="message-container">Feel free to call me or have a chat.</div>
      </div>

   </ion-content>
    <div class="bar bar-footer bar-balanced">
        <!--<i class="icon ion-android-call call-button"></i>-->
        <!--<a href="im:vashidab@aotil.com"><i class="icon ion-chatbubble call-button-icon"></i></a>-->
        <a href="xmpp:vashidab@aotil.com"><i class="icon ion-chatbubble call-button-icon"></i></a>
        <a href="sip:vashidab@aotil.com"><i class="icon ion-android-call call-button-icon-two"></i></a>
    </div>
</ion-view>
