/* START:AO COLOUR SCHEME */

/* Brand Colours */
$Red: rgb(178,52,39);
$White: rgb(255, 255, 255);

/* Monochrome */
$Black: rgb( 0, 0, 0);
$Black75: rgb( 75, 99, 102);
$Black50: rgb( 147, 149, 152);
$Black25: rgb( 199, 200, 202);

/* Spot Highlights */
$Mustard: rgb(234, 215, 102);
$Azure: rgb(86, 155, 190);
$Lavender: rgb(173, 176, 216);
$Iris: rgb(125, 166, 216);
$Aqua: rgb(154, 215, 219);
$Fuchsia: rgb(238, 182, 212);
$Apple: rgb(194, 205, 35);
$Forest: rgb(103, 145, 70);

/* Strong Neutrals */
$Chestnut: rgb(161,149,137);
$Gold: rgb(179,170,126);
$Autumn: rgb(158, 102, 20);
$OceanBlue: rgb(0,101,149);
$Fern: rgb(139,155,147);
$MidnightBlue: rgb(92,111,123);

/* Light Neutrals */
$Walnut: rgb(202,194,184);
$Stone: rgb(232,225,213);
$Almond: rgb(231,229,211);
$Titanium: rgb(216,227,233);
$LightOlive: rgb(217,226,218);
$Silver: rgb(234,239,241);


/* END:AO COLOUR SCHEME */

$photo-size:250px;
$call-button-size:80px;